<aside class="sidebar-area">
  <div class="card-blue">
    <div class="card-header">
      <i class="fa-solid fa-bookmark" aria-hidden="true"></i> KCSE 2027 Quick
      Links
    </div>
    <div class="card-body">
      <ul>
        <li>
          <a href="{{ '/2027/index.html' | relative_url }}"
            >행사개요 (Overview)</a
          >
        </li>
        <li>
          <a href="{{ '/2027/attendance/registration.html' | relative_url }}"
            >참가 등록 (Registration)</a
          >
        </li>
        <li>
          <a href="{{ '/2027/papers/call-for-papers.html' | relative_url }}"
            >논문 모집 (Call for Papers)</a
          >
        </li>
        <li>
          <a href="{{ '/2027/papers/paper-submission.html' | relative_url }}"
            >논문 접수 (Submission)</a
          >
        </li>
        <li>
          <a href="{{ '/2027/program/keynote.html' | relative_url }}"
            >기조연설 (Keynotes)</a
          >
        </li>
        <li>
          <a href="{{ '/2027/introduction/location.html' | relative_url }}"
            >오시는 길 (Location)</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="card-dates">
    <div class="card-header">
      <span>Important Dates</span>
      <span class="timezone">KST (UTC+9)</span>
    </div>
    <ul class="date-list">
      <li class="date-item">
        <div class="date-title">
          <i class="fa-regular fa-calendar-check" aria-hidden="true"></i>
          2026년 12월 21일 (월)
        </div>
        <span class="date-event">논문 제출 마감</span>
      </li>
      <li class="date-item">
        <div class="date-title">
          <i class="fa-regular fa-calendar-check" aria-hidden="true"></i>
          2026년 12월 28일 (월)
        </div>
        <span class="date-event">튜토리얼/워크숍 제출 마감</span>
      </li>
      <li class="date-item">
        <div class="date-title">
          <i class="fa-regular fa-calendar-check" aria-hidden="true"></i>
          2027년 01월 15일 (금)
        </div>
        <span class="date-event">논문 심사 결과 통보</span>
      </li>
      <li class="date-item">
        <div class="date-title conference-date">
          <i class="fa-solid fa-flag-checkered" aria-hidden="true"></i>
          2027년 01월 27일-29일
        </div>
        <span class="date-event">KCSE 2027 학술대회 개최</span>
      </li>
    </ul>
  </div>
</aside>
